<div class="m-3">
    <h2>ConcatMap</h2>
    <br><br>

    <div class="row">
        <div class="col-md-4">
            <strong>EX -01 | Map</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Tech video list</strong>['Tech', 'Comedy', 'News']
            </p>
            <hr>
            <ul id="containerMap">
               
            </ul>
            
        </div>

        <div class="col-md-4">
            <strong>EX -02 | Map + ConcatAll</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Comedy video list</strong>['Tech', 'Comedy', 'News']
            </p>

            <hr>
            <ul id="containerMapConcatAll">
            </ul>
            
        </div>

        <div class="col-md-4">
            <strong>EX -01 | ConcatMap -> (It is combination of Map + ConcatAll)</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>News video list</strong>['Tech', 'Comedy', 'News']
            </p>
            <hr>
            <ul id="containerConcatMap">
            </ul>
            
        </div>
    </div>
</div>
