<div class="my-3 mx-3">
    <h1>From Event</h1>
    <br>

    <div class="row">
        <div class="col-md-4">
           <div class="card">
            <div class="card-header">Add</div>
            <div class="card-body">
                <button type="button" #addBtn class="btn btn-primary">Add video</button>
            </div>
           </div>
        </div>

        <div class="col-md-4">
            <div class="card">
             <div class="card-header">Add</div>
             <div class="card-body">
                 <ul id="elContainer">   
                 </ul>
             </div>
            </div>
        </div>
        

        <div class="col-md-4">
            <div class="card">
             <div class="card-header">Add</div>
             <div class="card-body">
                 <ul id="elContainer1">   
                 </ul>
             </div>
            </div>
        </div>

    </div>
</div>
