<div class="my-3 mx-3">
    <h2>Take, Take last, TakeUntil</h2>
    <hr><br>
    <p class="bg-light py-2 px-3 border rounded">
        <strong>Random Names:</strong>'Zash','John', 'Raj', 'Brook','Curran','Jofra'
    </p>
    <hr><br>
    <div class="row">
        <div class="col-md-4">
            <strong>TAKE(4)</strong>
            <hr>
            <ul id="container1"></ul>
        </div>

        <div class="col-md-4">
            <strong>Takelast(4)</strong>
            <hr>
            <ul id="container2"></ul>
        </div>

        <div class="col-md-4">
            <strong>TakeUntil(4)</strong>
            <hr>
            <ul id="container3"></ul>
        </div>

    </div>
</div>
