<div class="m-3">
    <div class="row">
        <div class="col-md-6">
            <div class="title">
                <h4>Concat Map</h4>
                <p><strong>EX-01 | ConcatMap</strong></p>
                <p>Mobile Notification Example</p>
            </div>
        </div>


        <div class="col-md-6">
            <div class="iphone-x">
                <i>Speaker</i>
                <b>Camera</b>
                <s>10:24</s>
                
                <div class="notification" id="elContainer" >

                    <!-- <div class="item">
                        <div class="header">
                            <div class="app">
                                <img [src]="path" alt="" width="20px" height="20px"> Facebook
                            </div>
                            <div class="time">4 second ago</div>
                        </div>
                        <div class="body">
                            <div class="line1">
                            <strong>Zeeshan</strong>
                            <img [src]="path2" alt="" width="20px" height="20px">
                            </div>
                            <p>this is notification Text</p>
                        </div>
                        
                    </div> -->

                </div>

                <span>Left action button</span>
                <span>Right action button</span>
              </div>
        </div>
    </div>

</div>



<!-- <div class="body">
    <div class="line1">
    <strong>Zeeshan</strong>
    <img [src]="path2" alt="" width="20px" height="20px">
    </div>
    <p>this is notification Text</p>
</div> -->
