<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="fromEvent">FromEvent</a>
            </li>
            <li>
                <a routerLink="interval">Interval</a>
            </li>
            <li>
                <a routerLink="Of-From">Of and From</a>
            </li>
            <li>
                <a routerLink="to-array">To Array</a>
            </li>
            <li>
                <a routerLink="custom">Custom</a>
            </li>
            <li>
                <a routerLink="map">Map</a>
            </li>
            <li>
                <a routerLink="pluck">Pluck</a>
            </li>
            <li>
                <a routerLink="filter">Filter</a>
            </li>
            <li>
                <a routerLink="tap">Tap</a>
            </li>
            <li>
                <a routerLink="take">Take</a>
            </li>
            <li>
                <a routerLink="retry">Retry,RetryWhen <br> Scan & Delay</a>
            </li>
            <li>
                <a routerLink="debounce">Debounce and <br> DistinctUntilChange</a>
            </li>
            <li>
                <a routerLink="subject">Subject</a>
            </li>
            <li>
                <a routerLink="replaySubject">Replay-Subject</a>
            </li>
            <li>
                <a routerLink="asyncSubject">AsyncSubject</a>
            </li>
            <li>
                <a routerLink="concat">concat</a>
            </li>
            <li>
                <a routerLink="merge">merge</a>
            </li>
            <li>
                <a routerLink="mergemap">Mergemap</a>
            </li>
            <li>
                <a routerLink="concatmap">ConcatMap</a>
            </li>
            <li>
                <a routerLink="concatmap2">ConcatMap2</a>
            </li>
            <li>
                <a routerLink="switchmap">Switch-Map</a>
            </li>
            <li>
                <a routerLink="switchmapSearch">SwitchMap-Search</a>
            </li>
            
            
        </ul>
    </div>
</div>