<div class="my-3 mx-3">
    <h1>Interval</h1>
    <br>



    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">interval-1</div>
                    <div class="card-body">
                        <ul id="elContainer"></ul>
                    </div>
                
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">interval-2</div>
                    <div class="card-body">
                        <ul id="elContainer2"></ul>
                    </div>
                
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Timer</div>
                    <div class="card-body">
                        <ul id="elContainer3"></ul>
                    </div>
                
            </div>
        </div>
    </div>
   
</div>
