<div class="my-3 mx-3">
    <h2>Pluck</h2>
    <br>

    <div class="row">
        <div class="col-md-6">
            <strong>EX -01</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Pluck</strong> by Property
            </p>
            <br>
            <table class="table">
                <tr>
                    <th>Name</th>
                </tr>
                <tr *ngFor="let item of data">
                    <td>{{item}}</td>
                </tr>
            </table>
         
        </div>

        <div class="col-md-6">
            <strong>EX -01</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Pluck</strong> Nested Property
            </p>
            <br>
            <table class="table">
                <tr>
                    <th>Name</th>
                </tr>
                <tr *ngFor="let item of data1">
                    <td>{{item}}</td>
                </tr>
            </table>
        </div>

        <div class="col-md-12">
            <strong>EX -01</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>MAP</strong> Map Object Data
            </p>
            <br>
            <p id="elContainer3"></p>
        </div>
    </div>
</div>
