<div class="mx-3">
    <h2>Of and From</h2>
    <br>
    <strong>EX-01 (OF)</strong>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
              <strong>Data:</strong> of('Zash','John', 'Raj')
            </p>
            <hr>
            <ul id="elContainer1">   
            </ul>
        </div>

        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
              <strong>Data:</strong> of(&#123;a:'Zash',b:'John',c: 'Raj'&#125;)
            </p>
            <hr>
            <ul>
                <li><strong>a: </strong>{{obsMsg.a}}</li>   
                <li><strong>b: </strong>{{obsMsg.b}}</li>   
                <li><strong>c: </strong>{{obsMsg.c}}</li>   
            </ul>
        </div>
    </div>

    <br>
    <strong>EX-01 (FROM)</strong>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <strong>Array</strong>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data:</strong> From(['Cross','Band','Panel'])
              </p>
              <hr>
              <ul id="elContainer3">   
              </ul>
        </div>

        <div class="col-md-4">
            <strong>Promise</strong>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data:</strong> Promise to Observable
              </p>
              <hr>
              <ul id="elContainer4">   
              </ul>
        </div>

        <div class="col-md-4">
            <strong>Promise</strong>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data:</strong> String to Observable
              </p>
              <hr>
              <ul id="elContainer5">   
              </ul>
        </div>

    </div>
</div>
